*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 5%;
    background: #0c111b;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width:100%;
    height: 100px;
    position:fixed;
    top :0%;
    left :0;
    padding-top: 5%;
    padding-left: 5%;
    
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;

}
.brand-logo{
    height:70px;
}

.nav-links{
    margin-top:10px;
    display:flex;
    list-style:none;
}

.nav-items a{
    text-decoration: none;
    margin-left: 20px;
    text-transform: capitalize;
    color: #fff;
    opacity:0.9;
}

.right-container{
    display:block;
    margin-left: auto;
    padding-right: 5%;
}

.search-box{
    border: none;
    border-bottom:  1px solid#aaa;
    background-color: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: .5s;
}

.search-box:focus{
    width: 400px;
    border-color: #1f80e0;
}

.sub-btn{
    background-color: #1f80e0;
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size:  12px;
    margin: 0 10px;
}
.login-link{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}
.carousel-container{
    position: relative;
    width: 100%;
    height: 600px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 120px;
}

.carousel{
    display:flex;
    width: 100%;
    height: 100%;
    padding-left: 3%;
    position:relative;
    margin: auto;
    /*border-radius: 20px;*/
}
.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background-color: #0e182d;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    left: 0;
    transition:  1s;
    overflow: hidden;

}

.slider img{
    width: 70%;
    min-height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
}

.slide-content {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    color: #fff;
    background-color: linear-gradient(to right, #161f2c  80%, #131a27);
    
    /*flex: 0 0 auto;
    margin-left: 915px;*/
}
.movie-title{
    padding-left: 30px;
    margin-top: 60px;
    text-transform: 80px;
    flex: 0 0 auto;
    margin-left: 30px;
    font-family: "Inter",sans-serif;
    
}
.movie-des{
    width: 55%;
    line-height: 30px;
    padding-left: 40px;
    margin-top: 80px;
    opacity: 0.8;
    font-size: 30px;
    Font-family: "Inter",sans-serif;
}

/*.Title2{
    padding-left: 0px;
    margin-top: 80px;
    text-transform: capitalize;
    color: #0a08bb;
}

.Title2-des {
    width: 80%;
    line-height: 30px;
    padding-left: 50px;
    margin-top: 30px;
    opacity: 0.8;
    color: #fff;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.sub-btn1{
    background-color: #1f80e0;
    height: 50px;
    padding: 0 40px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size:  18px;
    margin: 0 80px;
    border-spacing: 5%;
}*/

.video-card-container{
    position: relative;
    padding-left: 50px;
    padding-right: 100px;
    border-right-width: 20px;
    width: 15.8%;
    margin: 0;
    height: 9.8vw;
    display:-webkit-inline-flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

.video-card {
    position:absolute;
    min-width:5%;
    width: 98%;
    height: 100%;
    border-radius: 8px;
    overflow:hidden;
   
}


.card-video{
    width: 100%;
    height: 120px;
    object-fit:cover;

}

.card-video{
    position: relative;
}

.video-card:hover, 
.video-card-image{
    display:none;
}

.title{
    color: #fff;
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: 50px;
    margin-top: 4%;
}
.movies-list{
    width: 100%;
    height: 220px;
    position:  relative;
    margin: 10px 20px;
}
.card-container{
    position:absolute;
    width: 200%;
    padding-left: 20%;
    height: 20px;
    background-color: #192133;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x:  auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card-container:-webkit-scrollbar{
    display: none;
}

.card{
    position: relative;
    min-width: 200px;
    width: 90px;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 10px;
    transition: 10s ;
    background:#0c111b;
}

.card:hover{
    transform:scale(1.4);
}
.card:hover .card-body{
    opacity: 5;
}
.card-img{
    width: 100%;
    height: 90%;
    object-fit: contain;
    padding-top: 0px;

}
.card-body{
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    background: linear-gradient(to bottom, rgba(4 , 8, 15, 0), #192133 90%);
    padding: 2px;
    transition: 0.8s;
}
.name{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}
.des{
    color: #fff;
    opacity: 0.5;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}
.watchlist-btn{
    position: relative;
    width: 50%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align:right ;
    color: rgba(253, 252, 252, 0.5) ;
    margin: 5px 0;
    padding: 5px 5px;
       
}

.pre-btn,
.nxt-btn{
    position: absolute;
    top: 0;
    width: 3%;
    height: 110%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
    
}
.pre-btn{
    left: 0;
    background: linear-gradient( to right, #171f2e 0%, #171f2e);

}
.nxt-btn{
    right: 0;
    background: linear-gradient( to left,#171f2e  0%, #171f2e);
    
}


.pre-btn img{
    width: 45px;
    height: 30px;
    opacity: 1;
}
.nxt-btn img{
    width: 45px;
    height: 30px;
    opacity: 1;
}


